/* CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
  
ol, ul {
  list-style: none;
}
  
img {
  max-width: 100%;
  height: auto;
}

/* Main CSS */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(./assets/fonts/Lato-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/Lato-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url(./assets/fonts/Lato-Black.ttf) format('truetype');
}

body {
  width: 1020px;
  margin: 0 auto;
  font-family: "Lato", "Arial", sans-serif; 
}

body p {
  text-align: justify;
}

.hidden-header {
  width: 0px;
  height: 0px;
  overflow: hidden;
  display: none;
}

.header {  
  width: 100%;
  height: 89px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;  
  background-color: #2d303a;     
  text-transform: uppercase;
}

.header ul, .logo {
  font-weight: 700;
}

.header a {
  text-decoration: none;  
}

.logo {
  padding-top: 35px;
  line-height: 16px;
  cursor: pointer;
}

.logo__text {
  font-size: 24px; 
  color: #ffffff; 
}

.logo__text_red {
  color: #f06c64;
}

.header-bottom {
  width: 100%;
  height: 6px;
  background-color: #323746;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  line-height: 7px;
}

.navigation__item:not(.navigation__item_dot) {
  cursor: pointer;
}

.navigation__item_dot {
  width: 3px;
  margin: 0 13px;
  color: #494e62;
  cursor: default;
}

.navigation__link {
  font-size: 12px;
  color: #ffffff; 
}

.navigation__link:hover {
  text-decoration: underline;  
}

.navigation__link_active {
  color: #f06c64;
}

.slider {
  width: 100%;
  height: 594px;
  position: relative;
  background-color: #f06c64;
}

.slider-bottom {
  width: 100%;
  height: 6px;  
  background-color: #ea676b;
}

.slider__arrow {
  width: 16px;
  height: 27px;
  position: absolute;
  top: calc(50% - 16px);
  background-image: url("./assets/images/slider-arrow.svg");
  background-size: cover;
  transition-property: transform;
  transition-duration: 0.5s;
  cursor: pointer;
}

.slider__arrow_left {
  left: 42px;
}

.slider__arrow_left:hover {
  transform: scale(1.3);
}

.slider__arrow_right {
  right: 40px;
  transform: rotate(180deg);
}

.slider__arrow_right:hover {
  transform: rotate(180deg) scale(1.3);
}

.iphone {
  width: 215px;
  height: 458px; 
  position: absolute;
}

.iphone__model {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("./assets/images/iphone.png");
  z-index: 1;
}

.iphone__shadow  {
  width: 240px;
  height: 483px;
  background-image: url("./assets/images/shadow-vertical.png");
  z-index: 0;
}

.iphone__screen {  
  position: absolute;    
  z-index: 3;  
}

.iphone_vertical {
  top: 53px;
  left: 112px;  
}

.iphone_horizontal {
  transform: rotate(90deg);
  top: 52px;
  right: 258px;
}

.iphone_horizontal > .iphone__shadow {
  transform: translate(0px, -25px) rotateY(180deg);
}

.iphone_vertical > .iphone__screen {
  width: 188px;
  height: 333px;
  left: 14px;
  top: 65px;
  background-image: url("./assets/images/vertical-screen.png");
  background-position: -14px -135px;
}

.iphone_horizontal > .iphone__screen {
  width: 333px;
  height: 188px;
  left: -58.5px;
  top: 137.5px;
  transform: rotate(-90deg);
  background-image: url("./assets/images/horizontal-screen.png");
  background-position: -125px -119px;
}

.services {
  width: 100%;
  height: 494px;
  background-color: #f2f2f2;
  padding: 68px 40px 40px 40px;
}

.services-bottom {
  width: 100%;
  height: 6px;
  background-color: #ffffff;
}

.services__title {
  margin-bottom: 46px;
}

.services__title h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  margin-bottom: 28px;
}

.services__title p {  
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
}

.services__list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 31px;
}

.services__item {
  display: flex;
}

.services__item__title {
  font-size: 15px;
  line-height: 18px;
  color: #666d89;   
  margin-bottom: 9px; 
}

.services__item__title h3 {
  font-weight: 900;
}

.services__item__description { 
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;  
  font-weight: 400;  
}

.services__item__icon {
  padding-top: 1px;
  flex:  0 0 60px;
  margin-right: 20px;
}

.portfolio {
  width: 100%;
  height: 863px;
  padding: 59px 40px;
  background-color: #2d303a;
}

.portfolio__title {
  margin-bottom: 11px;
}

.portfolio__title h2 {
  margin-bottom: 18px;
  color: #666d89;
  font-weight: 900;
  font-size: 30px;
}

.portfolio__title p {    
  color: #767e9e;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.portfolio__tags {
  display: flex;
  margin-bottom: 19px;
}

.portfolio__tags li {
  border-radius: 5px;
  border: 1px solid #666d89;
  color: #767e9e;
  padding: 3px 6px;
  font-size: 12px;
  font-weight: 400;
  margin-right: 12px;
  cursor: pointer;
}

.portfolio__tags li:last-child {
  margin-right: 0px;
}

.portfolio__tags li.active, .portfolio__tags li:hover {  
  border: 1px solid #c5c5c5;
  color: #dedede;  
}

.portfolio__examples {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 187px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.example__img {
  background-size: cover;
  background-repeat: no-repeat;
}

.example-1 {
  background-image: url('./assets/images/portfolio-item-1.jpg');
}

.example-2 {
  background-image: url('./assets/images/portfolio-item-2.jpg');
}

.example-3 {
  background-image: url('./assets/images/portfolio-item-3.jpg');
}

.example-4 {
  background-image: url('./assets/images/portfolio-item-4.jpg');
}

.example-5 {
  background-image: url('./assets/images/portfolio-item-5.jpg');
}

.example-6 {
  background-image: url('./assets/images/portfolio-item-6.jpg');
}

.example-7 {
  background-image: url('./assets/images/portfolio-item-7.jpg');
}

.example-8 {
  background-image: url('./assets/images/portfolio-item-8.jpg');
}

.example-9 {
  background-image: url('./assets/images/portfolio-item-9.jpg');
}

.example-10 {
  background-image: url('./assets/images/portfolio-item-10.jpg');
}

.example-11 {
  background-image: url('./assets/images/portfolio-item-11.jpg');
}

.example-12 {
  background-image: url('./assets/images/portfolio-item-12.jpg');
}


.portfolio-bottom {
  width: 100%;
  height: 6px;
  background-color: #323746;
}

.about-us {
  width: 100%;
  height: 728px;
  padding: 60px 40px;
  background-color: #f2f2f2;
}

.about-us__title {
  margin-bottom: 45px;
}

.about-us__title h2 {
  margin-bottom: 17px;
  color: #666d89;
  font-weight: 900;
  font-size: 30px;
}

.about-us__title p {    
  color: #767e9e;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.employees {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}

.employee__img {
  width: 100%;
  height: 300px;
  margin-bottom: 16px;
}

.employee-1 .employee__img {
  background-image: url('./assets/images/employee-1.png');
}

.employee-2 .employee__img {
  background-image: url('./assets/images/employee-2.png');
}

.employee-3 .employee__img {
  background-image: url('./assets/images/employee-3.png');
}

.employee__title {
  margin-bottom: 23px;
}

.employee__title h3 {
  font-size: 18px;
  font-weight: 900;
  color: #666d89;
  margin-bottom: 7px;
}

.employee__title p {
  font-size: 12px;
  font-weight: 400;
  color: #767e9e;
  line-height: 22px;
}

.circle-social {
  display: flex;
}

.circle-social li {
  margin-right: 7px;  
}

.circle-social li:last-child {
  margin-right: 0px;
}

.circle-social li:hover a {
  transform: translateY(-3px);
}

.circle-social li a {
  display: block;
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
}

.facebook a {
  background-image: url('./assets/images/Facebook.png');
}

.google-plus a {
  background-image: url('./assets/images/Google.png');
}

.twitter a {
  background-image: url('./assets/images/Twitter.png');
}

.linked-in a {
  background-image: url('./assets/images/LinkedIn.png');
}

.about-us-bottom {
  width: 100%;
  height: 5.5px;  
  background-color: #ffffff;
}

.quote {
  width: 100%;
  height: 648.5px;
  padding: 60px 40px;
  background-color: #f06c64;
}

.quote-bottom {
  width: 100%;
  height: 6px;
  background-color: #ea676b;
}

.quote__title {
  margin-bottom: 44px;
}

.quote__title h2 {
  margin-bottom: 18px;
  color: #f0d8d9;
  font-weight: 900;
  font-size: 30px;
}

.quote__title p {    
  color: #f0d8d9;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.quote-content {
  display: flex;
}

.form-block {
  width: 619px;
  margin-right: 20px;
}

input, textarea {
  outline: none;
  border: none;
  padding-left: 15px;
}

.form-block input, .form-block textarea {
  width: 619px;
  border-radius: 5px;
  margin-bottom: 16px;
  font-size: 12px;  
  color: #f48c8f;  
  font-family: "Lato", "Arial", sans-serif; 
  font-weight: 400;
  background-color: #d6564f;
}

.form-block input:focus, .form-block textarea:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.form-block input {  
  height: 38px;    
}

.form-block textarea {  
  height: 202px;
  padding-top: 13px; 
  resize: none;  
}

.form-block input::placeholder, textarea::placeholder {   
  color: #f48c8f;    
}

.form-block button {
  outline: none;
  color: #f0d8d9;
  background-color: #2d303a;
  padding: 7px 14px;
  border-radius: 5px;
  border: none;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.form-block button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-block button:active {
  box-shadow: none;
  transform: translateY(3px);
}

.contact-us, .contact-us a {
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-weight: 400;
}

.contact-us a {
  text-decoration: none;
}

.contact-us h3 {
  font-size: 18px;
  color: #f0d8d9;
  font-weight: 900;
  margin-top: -1px;
  margin-bottom: 7px;
}

.contact-us > p {
  margin-bottom: 22px;
}

.contact-links .icon {
  display: inline-flex;
  justify-content: center;
  width: 13px;
  margin-right: 10px;
}

.footer {
  width: 100%;
  height: 76px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d303a;
}

.footer__copyright {
  font-size: 12px;
  color: #666d89;
  font-weight: 300;
}